* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 31%;
}

body {
  background-color: rgb(255, 236, 236);
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ########################################################################## */
/* HOME PAGE */
.home-container {
  text-align: center;
}

.home-heading {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 10rem;
  font-weight: 700;
}

.btn-home {
  letter-spacing: 0.1rem;
  font-size: 6.4rem;
  display: inline-block;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2.4rem 4.8rem;
  border-radius: 1rem;
  font-weight: 500;
}

.btn-home:hover {
  cursor: pointer;
  scale: 110%;
  transition: 0.5s all;
}

.btn--reg_home {
  background-color: #ff2121;
  color: rgb(255, 236, 236);
  border: 0.2rem solid rgb(255, 236, 236);
}

.btn--reg_home:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}

.btn--log_home {
  background-color: rgb(255, 236, 236);
  color: #ff2121;
  border: 0.4rem solid #ff2121;
}

.btn--log_home:cover {
  color: #ff0000;
  background-color: rgb(255, 255, 255);
}

/* ########################################################## */
/* REGISTRATION PAGE */

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-heading {
  font-size: 10rem;
  margin-bottom: 7rem;
  text-align: center;
}

.inputs--reg {
  font-size: 4.8rem;
  margin-bottom: 3.6rem;
  font-weight: 400;
}

.inputs--reg label {
  font-size: 4.8rem;
  margin-right: 3.6rem;
}

.inputs--reg input {
  font-size: 4.8rem;
  border-radius: 1rem;
  border: 0.2rem solid #ff2121;
  background-color: rgb(255, 245, 245);
  padding: 2.4rem 1.6rem;
}

.btn--reg_reg {
  text-align: center;
  width: 40%;
  font-size: 4.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  background-color: #ff2121;
  color: rgb(255, 236, 236);
}

.btn--reg_reg:hover {
  scale: 110%;
  cursor: pointer;
  transition: all 0.5s;
}

/* ################################################################## */
/* LOGIN PAGE */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-heading {
  font-size: 10rem;
  margin-bottom: 7rem;
  text-align: center;
}

.inputs--login {
  display: flex;
  gap: 2.4rem;
}

.input-login {
  font-size: 4.8rem;
  border-radius: 1rem;
  border: 0.2rem solid #ff2121;
  background-color: rgb(255, 245, 245);
  padding: 2.4rem 1.6rem;
  margin-bottom: 2.4rem;
}

.btn--log_log {
  text-align: center;
  font-size: 4.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 1rem;
  background-color: #ff2121;
  color: rgb(255, 236, 236);
}

.btn--log_log:hover {
  scale: 110%;
  cursor: pointer;
  transition: all 0.5s;
}

/* ########################################## */
/* HEADER */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: inherit;
  color: #333;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar-button {
  padding: 2rem 4rem;
  color: rgb(255, 236, 236);
  font-size: 4rem;
  cursor: pointer;
  margin-right: 2rem;
  background-color: #ff2121;
  border-radius: 2rem;
}

.navbar-button:hover {
  scale: 110%;
  color: #ff2121;
  background-color: rgb(255, 236, 236);
  transition: 0.5s all;
}

/* ######################################### */
/* JOIN GAME */

.joingame-container {
  display: flex;
  flex-direction: column;
}

.joingame-btn {
  font-size: 4.8rem;
  padding: 2rem 4rem;
  max-width: 60;
  margin-bottom: 4rem;
  background-color: #ff2121;
  color: rgb(255, 236, 236);
  cursor: pointer;
  border-radius: 2rem;
}

.joingame-btn:hover {
  scale: 110%;
  transition: all 0.5s;
}

.joingame-btn-join {
  font-size: 4.8rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: rgb(255, 236, 236);
  color: #ff2121;
  cursor: pointer;
}

.joingame-btn-join:hover {
  scale: 110%;
  transition: all 0.5s;
}

.joingame-label-div {
  text-align: center;
  font-size: 4.8rem;
  border: 0.3rem solid #ff2121;
  padding: 6rem 2rem;
  background-color: #ff2121;
  border-radius: 2rem;
}

.joingame-label-div label {
  color: #333;
  color: rgb(255, 236, 236);
}

.joingame-label-div input {
  font-size: 4.8rem;
  margin-top: 2rem;
  background-color: rgb(255, 236, 236);
  padding: 1rem;
  border-radius: 2rem;
  margin-right: 3rem;
}

/* CREATE ROOM */
.create-room-input {
  font-size: 4.8rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 236, 236);
  margin-right: 2rem;
}

.create-room-btn {
  font-size: 4.8rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: #ff2121;
  color: rgb(255, 236, 236);
  cursor: pointer;
}

.create-room-btn:hover {
  scale: 110%;
  transition: all 0.5s;
}

/* TIC-TAC-TOE BOARD */
.board {
  width: 50rem;
  height: 50rem;
  background-color: rgb(255, 236, 236);
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 0.1rem solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: lightgray;
}

/* FINISH GAME MESSAGE AND BUTTON */
.finished-game-div {
  display: flex;
  margin-top: 4rem;
}

.new-game-btn {
  font-size: 4.8rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: #ff2121;
  color: rgb(255, 236, 236);
  cursor: pointer;
}

.new-game-btn:hover {
  scale: 110%;
  transition: 0.5s all;
}

.finish-message {
  margin: 1rem 3rem;
  align-self: center;
  font-size: 4.8rem;
}

/* TOAST MESSAGE */
.toast-msg {
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

/* SPINNER */
.loader {
  width: 7.5rem;
  height: 7.5rem;
  border: 5px solid #ff2121;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 4rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
